/* footer */
.footer-section {
    padding-top: 20px;
    margin: 200px 0;
    width: 100%;
  }
  
  .section-on-footer {
    margin-bottom: 0;
  }
  
  .shadow-down {
    position: relative;
  }
  
  
  /* /footer */